# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# ChromaDB
database/chroma_db/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db